.button-basic {
	backdrop-filter: blur(0.5rem);
	background: transparent;
	border-radius: 99rem;
	border: 0.0625rem solid $primary;
	cursor: pointer;
	overflow: hidden;
	padding: 0.5rem 1rem;
	position: relative;
	transition: background 0.2s ease-in-out, box-shadow 0.2s ease-in-out,
		color 0.2s ease-in-out, opacity 0.2s ease-in-out;
	white-space: nowrap;
	width: fit-content;
	-webkit-backdrop-filter: blur(0.5rem);
	@include font(0.9rem, 0.9rem, semi, $primary, center);
	&.btn-marquee {
		max-width: 10rem;
		height: 2rem;
		width: 10rem;
		.txt-marquee {
			align-items: center;
			display: flex;
			height: 100%;
			justify-content: flex-start;
			left: 0;
			position: absolute;
			top: 0;
			transition: transform 1s ease;
			white-space: nowrap;
			width: 100%;
			span {
				margin: 0;
				transition: transform 2s ease;
			}

			> div {
				animation: scrollText 5s infinite linear;
				display: flex;
				-webkit-animation: scrollText 5s infinite linear;
			}

			@-webkit-keyframes scrollText {
				from {
					transform: translateX(0%);
				}

				to {
					transform: translateX(-50%);
				}
			}

			@keyframes scrollText {
				from {
					transform: translateX(0%);
				}

				to {
					transform: translateX(-50%);
				}
			}
		}
	}
}

.primary,
.secondary,
.tertiary,
.light {
	transition: 0.1s ease-in-out;
	@extend .button-basic;
}

.primary {
	background-color: $primary;
	color: $light;
	text-transform: uppercase;
	&:hover {
		background-color: #363738;
		border-color: #363738;
	}
}

.secondary {
	border-color: $primary;
	color: $primary;
	text-transform: uppercase;
	&:hover {
		background-color: $primary;
		border-color: $primary;
		color: $light;
	}
}

.tertiary {
	border-color: $secondary;
	color: $primary;
	&:hover {
		border-color: $primary;
		color: $primary;
	}
}

.light {
	background-color: $light;
	color: $primary;
	text-transform: uppercase;
	border-color: $light;
	&:hover {
		background-color: $white;
		border-color: $light;
	}
}
