.button-basic {
  position: relative;
  border: .0625rem solid $primary;
  background: transparent;
  cursor: pointer;
  padding: .5rem 1rem;
  border-radius: 99rem;
  width: fit-content;
  max-width: 9rem;
  transition: background .2s ease-in-out, color .2s ease-in-out, opacity .2s ease-in-out;
  transition-duration: 0.2s, 0.2s, 0.2s;
  transition-timing-function: ease-in-out, ease-in-out, ease-in-out;
  transition-delay: 0s, 0s, 0s;
  transition-property: background, color, opacity;
  overflow: hidden;
  white-space: nowrap;
  @include font(1rem, 1rem, regular, $primary, center);

}

.btn-marquee {
  width: 9rem;
  height: 2rem;
}

.txt-marquee {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  white-space: nowrap;
  transition: transform 1s ease;

  span {
    margin: 0;
    transition: transform 2s ease;
  }

  >div {
    display: flex;
    -webkit-animation: scrollText 5s infinite linear;
    animation: scrollText 5s infinite linear;
  }

  @-webkit-keyframes scrollText {
    from {
      transform: translateX(0%);
    }

    to {
      transform: translateX(-50%);
    }
  }

  @keyframes scrollText {
    from {
      transform: translateX(0%);
    }

    to {
      transform: translateX(-50%);
    }
  }
}

.primary,
.secondary {
  @extend .button-basic;
}

.primary {
  &:hover {
    color: $bg-light;
    background: $primary;
    border-color: $primary;
  }
}

.secondary {
  border-color: $secondary;
  color: $secondary;
  &:hover {
    color: $bg-light;
    background: $primary;
    border-color: $primary;
  }
}
