.customHeightWrapper {
	background-color: $black;
	padding-block: 6rem;
	.container {
		flex: none;
		height: fit-content;
		justify-content: flex-start;
		z-index: 1;

		.summary {
			text-align: center;
			font-weight: 500;
			letter-spacing: 0.0625rem;
			font-stretch: 100%;
			&.afterAnimation {
				margin-top: 0;
			}
		}
	}
}
