.customHeightWrapper {
	position: relative;
	background-color: $white;
	padding-block: 6rem;
	background: radial-gradient(circle, $theme-base 5%, $white 50%);
	.container {
		flex: none;
		height: fit-content;
		justify-content: flex-start;
		z-index: 1;
		.summary {
			@include font(4.5rem, normal, 400, $black, left, 100%, 0.0625rem);
			span {
				font-weight: 600;
				display: inline-block;
				transform: skew(-2.5deg);
			}
		}
	}
}
