.customHeightWrapper {
	background-color: $theme-primary;
	padding-block: 6rem;
	position: relative;
	.container {
		flex: none;
		height: fit-content;
		justify-content: flex-start;
		z-index: 1;
		.summary {
			text-align: left;
			font-weight: 500;
			letter-spacing: 0.0625rem;
			font-stretch: 100%;
		}
	}
}
