.customHeightWrapper {
	padding-block: 8rem;
	background-color: $theme-primary;
	@media (max-width: 50rem) {
		padding-block: 6rems;
	}
	background-image: url('/images/backgrounds/dark-noise.png');
}

.container {
	align-items: flex-start;
	h2 {
		text-align: left;
		margin-bottom: 4rem;
		color: $theme-text-color;
		@media (max-width: 50rem) {
			margin-bottom: 1rem;
		}
	}
}

.workList {
	max-width: 64rem;
	gap: 6rem;
	margin-top: 2rem;
	@include flex(column, flex-start, flex-start);
}
