.navbar {
	position: fixed;
	top: 50%;
	right: 4rem;
	transform: translateY(-50%);
	flex: 1;
	z-index: 99;
	width: fit-content;
	@include flex(row, space-between, center);
	&.hideNavbar {
		@keyframes slideOutToBottom {
			0% {
				opacity: 1;
				display: flex;
			}
			100% {
				opacity: 0;
				display: none;
			}
		}
		animation: slideOutToBottom 0.25s ease-in-out;
		opacity: 0;
	}

	&.showNavbar {
		@keyframes slideInFromBottom {
			0% {
				opacity: 0;
				display: none;
			}
			100% {
				opacity: 1;
				display: flex;
			}
		}
		animation: slideInFromBottom 0.25s ease-in-out;
		display: flex;
		opacity: 1;
	}

	.navbarContent {
		position: relative;
		padding: 0;
		margin: 0;
		gap: 0.65rem;
		@include flex(column, flex-start, flex-start);
		a {
			text-decoration: none;
			&:hover {
				color: $base-mix;
				text-decoration: underline;
			}
		}
		li {
			@include font(
				1rem,
				normal,
				medium,
				$theme-text-color,
				left,
				100%,
				0.125rem
			);
			&::marker {
				color: $base-mix;
			}
			&.diff {
				color: $white;
			}
		}
	}
}
