.container {
	align-items: flex-start;
	h2 {
		text-align: left;
	}
}

.grid {
	display: grid;
	gap: 1.5rem;
	grid-template-rows: repeat(3, auto);
	position: relative;
	width: 100%;
}

.card {
	position: relative;
	background-color: $black;
	padding: 2rem 3rem 2.5rem;
	width: 100%;
	h4 {
		margin-top: 0.25rem;
	}
	p:first-of-type {
		margin-top: 1.125rem;
	}
	p {
		opacity: 0.8;
		margin-bottom: 0.75rem;
	}
	.pills {
		height: fit-content;
		flex-wrap: wrap;
		gap: 0.75rem 0.5rem;
		padding: 0;
		margin: 2rem 0 0 0;
		position: relative;

		max-width: 100%;
		@include flex(row, flex-start, flex-start);
		li,
		button {
			background-color: rgba($secondary, 0.2);
			backdrop-filter: blur(0.5rem);
			border: none;
			border-radius: 1rem;
			max-height: 2rem;
			padding: 0.25rem 0.875rem;
			@include font(0.875rem, normal, regular);
			@include flex(row, center, center);
		}
		.red {
			border: 2px solid;
			border-color: $base-red;
			background-color: rgba(mix($secondary, $base-red, 0.5), 0.2);
		}
		.yellow {
			border: 2px solid;
			border-color: $base-yellow;
			background-color: rgba(mix($secondary, $base-yellow, 0.5), 0.2);
		}
		.green {
			border: 2px solid;
			border-color: $base-green;
			background-color: rgba(mix($secondary, $base-green, 0.5), 0.2);
		}
	}
}
