.work {
	background-color: $black;
	padding: 2rem;
	border-radius: 1.75rem;
	max-width: 64rem;
	width: 100%;
	display: grid;
	grid-template-areas:
		'title title'
		'description skills';
	gap: 1.5rem;

	hr {
		background-color: $secondary;
		border: 0;
		border-radius: 0.0625rem;
		height: 0.125rem;
		margin-block: 1rem 0;
		opacity: 0.5;
		width: 100%;
	}

	&.hasImage {
		grid-template-areas:
			'title title'
			'image image'
			'description skills';
		hr {
			margin-block: 1rem;
		}
	}
}

.image,
.description,
.skills {
	position: relative;
	padding: 0 1rem 2rem;
	width: 100%;
	min-height: 27rem;
}

.description,
.skills {
	@include flex(column, flex-start, flex-start);
}

.title {
	grid-area: title;
	div {
		@include flex(row, space-between, center);
		h4,
		h5 {
			text-align: right;
		}
	}
}

.image {
	padding: 0;
	grid-area: image;
	width: 100%;
	min-height: auto;
	height: auto;
}

.description {
	gap: 1rem;
	grid-area: description;

	p {
		font-size: 1.125rem;
	}
}

.skills {
	gap: 0.75rem;
	grid-area: skills;
	h5 {
		font-weight: 500;
	}
	.pills {
		height: fit-content;
		flex-wrap: wrap;
		gap: 0.75rem 0.5rem;
		margin-block: 0 0.5rem;
		padding: 0;
		position: relative;

		max-width: 100%;
		@include flex(row, flex-start, flex-start);
		li,
		button {
			background-color: rgba($secondary, 0.2);
			backdrop-filter: blur(0.5rem);
			border: none;
			border-radius: 1rem;
			max-height: 2rem;
			padding: 0.25rem 0.875rem;
			@include font(0.875rem, normal, regular);
			@include flex(row, center, center);
		}
		.red {
			border: 2px solid;
			border-color: $base-red;
			background-color: rgba(mix($secondary, $base-red, 40%), 0.2);
		}
		.yellow {
			border: 2px solid;
			border-color: $base-yellow;
			background-color: rgba(mix($secondary, $base-yellow, 40%), 0.2);
		}
		.green {
			border: 2px solid;
			border-color: $base-green;
			background-color: rgba(mix($secondary, $base-green, 40%), 0.2);
		}
	}
}

.visuallyHidden {
	position: absolute;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(0 0 99.9% 99.9%);
	overflow: hidden;
	height: 1px;
	width: 1px;
	padding: 0;
	border: 0;
}

@media (max-width: 50rem) {
	.work {
		grid-template-areas:
			'title'
			'description'
			'skills';
		max-height: 45rem;
		overflow-y: scroll;
		&.hasImage {
			grid-template-areas:
				'title'
				'image'
				'description'
				'skills';
		}
	}
	.title {
		div {
			@include flex(column, flex-start, flex-start);
			h4,
			h5 {
				text-align: left;
			}
		}
	}
	.description,
	.skills {
		min-height: auto;
		height: fit-content;
		padding: 1rem 0;
	}
}
