@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@theme {
    --font-sans: "Inter";
    --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
    --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

@layer base {
    h1 {
        font-size: var(--text-9xl);
    }
    h2 {
        font-size: var(--text-7xl);
    }
    h3 {
        font-size: var(--text-5xl);
    }
    h4 {
        font-size: var(--text-3xl);
    }
    h5 {
        font-size: var(--text-2xl);
    }
    h6 {
        font-size: var(--text-xl);
    }

}

html {
    scroll-behavior: smooth;
}