/* Space */
$space-1: 1rem;
$space-2: 2rem;
$space-3: 3rem;
$space-4: 4rem;
$space-5: 6rem;
$space-6: 8rem;

$max-container-width: 110rem;
$screen-desktop-xl: 130rem;
$screen-tablet: 68rem;
$screen-mobile: 45rem;
