.basic-container {
	flex: 1;
	max-width: 64rem;
	position: relative;
	width: 100%;
	@include flex(column, center, center);
	@media only screen and (min-width: 120rem) {
		max-width: 90rem;
	}
}

.div,
.section {
	@extend .basic-container;
}

.main {
	overflow-x: hidden;
	z-index: 2;
	@include flex(column, $alignItems: center);
}
