.basic-container {
	flex: 1;
	max-width: 72rem;
	position: relative;
	width: 100%;
	@include flex(column, center, center);
}

.div,
.section {
	@extend .basic-container;
}

.main {
	overflow-x: hidden;
	z-index: 2;
	@include flex(column, $alignItems: center);
}
