.basic-container {
	flex: 1;
	max-width: $container-max-width;
	position: relative;
	width: 100%;
	@include flex(column, center, center);
	padding-block: $spacing-xxl;
	// when the screen is smaller than 72rem
	@media (max-width: calc($container-max-width + 7rem)) {
		padding-block: $spacing-xl;
	}
	@media (max-width: $half-container-max-width) {
		padding: 0 2.5rem;
	}
}

.div,
.section {
	@extend .basic-container;
}

.main {
	overflow-x: hidden;
	padding: 0;
	z-index: 2;
	@include flex(column, $alignItems: center);
}
