.actions {
	margin-left: 0.5rem;
	position: absolute;
	border-top-left-radius: 0.67rem;
	border-top-right-radius: 0.67rem;
	top: 0;
	left: 0;
	height: auto;
	margin-block: 0.5rem;
	width: auto;
	@include flex(row, flex-start, center);
	gap: 0.5rem;
	.close,
	.minimize,
	.maximize {
		width: 0.75rem;
		height: 0.75rem;
		border-radius: 50%;
		cursor: pointer;
		@include flex(row, center, center);
		svg {
			opacity: 0;
		}
	}
	&:hover {
		svg {
			opacity: 1;
		}
	}
	.close {
		background-color: #fe5f57;
	}
	.minimize {
		background-color: #febc2e;
	}
	.maximize {
		background-color: #28c840;
	}
}
