@import '@/components/common/button/button.module.scss';

.container {
	backdrop-filter: blur(0.5rem);
	background-color: $theme-primary-transparent;
	flex: 1;
	height: 100%;
	min-height: 100vh;
	position: relative;
	width: 100%;
	-webkit-backdrop-filter: blur(0.5rem);
	z-index: 2;
	@include flex(column, center, center);
	overflow: hidden;
	position: fixed;
}

.top {
	position: absolute;
	top: 0;
	text-transform: uppercase;
	width: calc(100% - 4rem);
	margin-top: 2rem;
	margin-inline: 2rem;
	@include flex(row, center, flex-start);
	p {
		@include font(1rem, normal, regular, $theme-color, left, 85%, 0.125rem);
	}
}

.centered {
	overflow-y: hidden;
	@include flex(column, center, center);
	div {
		@media only screen and (max-width: 70rem) {
			h1 {
				width: fit-content;
				margin-inline: auto;
				max-width: 90vw;
				text-align: center;
			}
		}
		h2 {
			font-weight: 700;
			margin-block: 1rem 0;
			text-transform: uppercase;
			font-size: 1.25rem;
			letter-spacing: 0.25rem;
		}
	}
}

.pills {
	@include flex(row, center, center);
	height: fit-content;
	flex-wrap: wrap;
	gap: 1rem;
	list-style: none;
	margin-top: 1rem;
	padding: 0;
	@media only screen and (max-width: 40rem) {
		padding-inline: 2rem;
	}
	li {
		border-radius: 1.25rem;
		color: $theme-secondary-color;
		text-transform: uppercase;
		@include font(
			1rem,
			normal,
			semi,
			$theme-secondary-color,
			left,
			85%,
			0.125rem
		);
	}
}

.links {
	bottom: 2rem;
	flex-wrap: wrap;
	gap: 1rem;
	height: fit-content;
	position: absolute;
	@include flex(row, center, center);

	@media only screen and (max-width: 40rem) {
		padding-inline: 2rem;
	}
}

.link {
	border: 0.09375rem solid $theme-secondary-color;
	gap: 0.1875rem;
	margin-left: auto;
	min-width: 7.5rem;
	padding: 0.4rem 0.8rem;
	text-decoration: none;
	text-transform: uppercase;
	@extend .button-basic;
	@include font(
		0.9rem,
		normal,
		regular,
		$theme-secondary-color,
		left,
		85%,
		0.125rem
	);
	svg {
		path {
			fill: $theme-secondary-color;
		}
	}
	&:hover {
		color: $theme-primary;
		border-color: $theme-color;
		background-color: $theme-color;

		svg {
			path {
				fill: $theme-primary;
			}
		}
	}
}

.animation {
	position: fixed;
	width: 100%;
	height: 100vh;
	@include flex();
	p {
		@include font(
			22cqw,
			18.5cqw,
			600,
			$theme-secondary-color,
			$stretch: 100%,
			$spacing: 0rem
		);
	}
	.left,
	.right {
		width: 50%;
		height: 100vh;
		position: absolute;
		top: 0;
		transition: transform 1s ease;
		white-space: nowrap;
		overflow: hidden;
		@include flex(column, center, center);
		p {
			margin: 0;
			transition: transform 2s ease;
		}
		> div {
			display: flex;
			flex-direction: column;
		}
	}
	.left {
		left: 0;

		> div {
			animation: scrollTextDown 7s infinite linear;
			-webkit-animation: scrollTextDown 7s infinite linear;
		}

		@-webkit-keyframes scrollTextDown {
			from {
				transform: translateY(0%);
			}

			to {
				transform: translateY(25%);
			}
		}
		@keyframes scrollTextDown {
			from {
				transform: translateY(0%);
			}

			to {
				transform: translateY(25%);
			}
		}
	}
	.right {
		right: 0;
		p {
			text-align: right;
		}

		> div {
			animation: scrollTextUp 7s infinite linear;
			-webkit-animation: scrollTextUp 7s infinite linear;
		}

		@-webkit-keyframes scrollTextUp {
			from {
				transform: translateY(0%);
			}

			to {
				transform: translateY(-25%);
			}
		}

		@keyframes scrollTextUp {
			from {
				transform: translateY(0%);
			}

			to {
				transform: translateY(-25%);
			}
		}
	}
	@media (max-width: 70rem) {
		.right {
			display: none;
		}
		.left {
			width: 100%;
			p {
				font-size: 40cqw;
				line-height: 40cqw;
				text-align: center;
				margin-left: -2cqw;
			}
		}
	}
}
