.height {
	margin: 0;
	width: 100%;
	height: 100vh;
	background-color: $primary;
	@include flex(column, center, center);
	section {
		position: relative;
		height: 100%;
	}
}

.sectionTitle {
	font-size: 10rem;
	line-height: 10rem;
	color: $white;
	margin: 0;
	width: 100%;
	text-align: center;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.cardContainers {
	gap: 1rem;
	width: 100%;
	@include flex(row, center, center);
	backdrop-filter: blur(0.125rem);
	-webkit-backdrop-filter: blur(0.125rem);
	.cardWrapper {
		@include flex(column, center, center);
		gap: 1rem;
		max-width: 33%;
		min-width: 33%;
	}
	.card {
		position: relative;
		padding: 1.75rem 0rem 0rem;
		border-radius: 0.75rem;
		width: 100%;
		height: 30rem;
		background-color: rgba($primary, 0.75);
		border: 0.0625rem solid lighten($primary, 15%);
		.topBar {
			position: absolute;
			border-top-left-radius: 0.67rem;
			border-top-right-radius: 0.67rem;
			top: 0;
			left: 0;
			height: 1.75rem;
			width: 100%;
			@include flex(row, flex-start, center);
			gap: 0.5rem;
			.macosClose,
			.macosMinimize,
			.macosMaximize {
				width: 0.75rem;
				height: 0.75rem;
				border-radius: 50%;
				cursor: pointer;
			}
			.macosClose {
				margin-left: 0.5rem;
				background-color: #fe5f57;
			}
			.macosMinimize {
				background-color: #febc2e;
			}
			.macosMaximize {
				background-color: #28c840;
			}
		}
		.content {
			height: 100%;
			position: relative;
			width: 100%;
			padding: 0.125rem 0.125rem 0.125rem 0.375rem;

			// cursor: pointer;
			::-webkit-scrollbar {
				border-radius: 0.5rem;
				width: 0.5rem;
				height: 0.5rem;
				opacity: 0.1;
			}
			::-webkit-scrollbar-thumb {
				background: lighten($primary, 25%);
				border-radius: 0.5rem;
				margin-right: 2px;
				&:hover {
					cursor: default;
					background: lighten($primary, 30%);
				}
			}
			::-webkit-scrollbar-corner {
				background: transparent;
			}

			pre {
				background-color: transparent !important;
				padding: 0 !important;
				margin: 0 !important;
				-moz-tab-size: 2;
				-o-tab-size: 2;
				tab-size: 2;

				height: auto;
				max-height: 100%;
				min-height: 100%;
				max-width: 100%;
			}
			ul {
				padding-inline-start: 20px;
			}
			li {
				@include font();
			}
		}
		.frontendExpertise {
			padding: 1rem;
			h3,
			p,
			li {
				color: $white;
				text-align: center;
			}
		}
	}
}
