.background {
	background-color: $white;
	height: 100dvh;
	width: 100dvw;
	@include flex(column, flex-start, flex-start);
}

.wrapper {
	position: absolute;
	height: 100dvh;
	width: 100dvw;
	z-index: 98;
	@include flex(column, center, center);
	.centeredContainer {
		backdrop-filter: blur(3rem);
		background-color: rgba($base-color, 0.9);
		border-radius: 0.25rem;
		max-height: 50rem;
		max-width: 90rem;
		height: 100%;
		position: relative;
		z-index: 99;
		-webkit-backdrop-filter: blur(3rem);
		@media only screen and (max-height: 50rem) {
			max-height: 45rem;
			max-width: 80rem;
		}
		@media only screen and (max-width: 95rem) {
			width: 95dvw;
		}
		@media only screen and (max-width: 40rem) {
			width: 100dvw;
			height: 100dvh;
			max-height: unset;
			border-radius: 0;
		}
	}
}

.header {
	position: absolute;
	top: 0;
	text-transform: uppercase;
	width: 100%;
	margin-top: 2rem;
	@include flex(row, center, flex-start);
	h6 {
		color: $white;
		font-weight: 200;
		&:first-of-type {
			margin-left: 2rem;
			margin-right: auto;
		}
		&.centered {
			position: absolute;
			left: 50%;
			transform: translateX(-50%);
		}
	}
	.button {
		margin-left: auto;
		text-transform: uppercase;
		border-radius: 0.25rem;
		background-color: transparent;
		backdrop-filter: none;
		border-color: transparent;
		margin-top: -0.6rem;
		margin-right: 1.2rem;
		@include font(1rem, normal, light, $white, left, 85%);
		&:hover {
			border-color: rgba($white, 0.125);
			background-color: rgba($white, 0.125);
		}
	}
	@media only screen and (max-width: 40rem) {
		flex-direction: column;
		h6 {
			&:first-of-type {
				margin-left: 2rem;
				margin-right: 0;
				margin-bottom: 0.5rem;
			}
			&.centered {
				// position: relative;
				// left: 2rem;
				// transform: translateX(0);
				// margin-bottom: 0.5rem;
				display: none;
			}
		}
		.button {
			position: absolute;
			top: 0;
			right: 0;
		}
	}
}

.titleWrapper {
	height: 18rem;
	padding-inline: 1rem;
	overflow-y: hidden;
	border-bottom: 0.0625rem solid $white;
	@include flex(column, center, center);
	h1 {
		@include font(12rem, 10rem, extra, $white);
		span {
			@include font(8rem, 7rem, regular, $white);
		}
	}
	@media only screen and (max-width: 70rem) {
		height: 23.75cqw;
		h1 {
			font-size: 15cqw;
			line-height: 13cqw;
			span {
				font-size: 10cqw;
				line-height: 8cqw;
			}
		}
	}
}

.footer {
	height: 6rem;
	@include flex(row, center, center);
	.pills {
		@include flex(row, center, center);
		height: fit-content;
		flex-wrap: wrap;
		margin-top: 0.5rem;
		gap: 0.5rem;
	}
}

.bgTextContainer {
	@include flex();
	width: 100%;
	p {
		@include font(23cqw, 18.5cqw, bold, $primary, $stretch: 95%);
	}
	.left {
		width: 50%;
		height: 100dvh;
		position: absolute;
		top: 0;
		left: 0;
		transition: transform 1s ease;
		white-space: nowrap;
		overflow-y: hidden;
		@include flex(column, center, center);
		p {
			margin: 0;
			transition: transform 2s ease;
		}

		> div {
			animation: scrollTextUp 20s infinite linear;
			display: flex;
			flex-direction: column;
			-webkit-animation: scrollTextUp 20s infinite linear;
		}

		@-webkit-keyframes scrollTextUp {
			from {
				transform: translateY(0%);
			}

			to {
				transform: translateY(-25%);
			}
		}

		@keyframes scrollTextUp {
			from {
				transform: translateY(0%);
			}

			to {
				transform: translateY(-25%);
			}
		}
	}
	.right {
		width: 50%;
		height: 100dvh;
		position: absolute;
		top: 0;
		right: 0;
		transition: transform 1s ease;
		white-space: nowrap;
		overflow-y: hidden;
		@include flex(column, center, center);
		p {
			margin: 0;
			transition: transform 2s ease;
			text-align: right;
		}

		> div {
			animation: scrollTextDown 20s infinite linear;
			display: flex;
			flex-direction: column;
			-webkit-animation: scrollTextDown 20s infinite linear;
		}

		@-webkit-keyframes scrollTextDown {
			from {
				transform: translateY(0%);
			}

			to {
				transform: translateY(25%);
			}
		}
		@keyframes scrollTextDown {
			from {
				transform: translateY(0%);
			}

			to {
				transform: translateY(25%);
			}
		}
	}
	@media (max-width: 70rem) {
		.right {
			display: none;
		}
		.left {
			width: 100%;
			p {
				font-size: 50cqw;
				line-height: 40cqw;
			}
		}
	}
}
