@import '@/components/common/button/button.module.scss';

.background {
	background-color: $white;
	height: 100vh;
	width: 100vw;
	@include flex(column, flex-start, flex-start);
}

.wrapper {
	position: absolute;
	height: 100vh;
	width: 100vw;
	z-index: 1;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	@include flex(column, center, center);
	.centeredContainer {
		backdrop-filter: blur(3rem);
		background-color: rgba($base-color, 0.9);
		border-radius: 0.25rem;
		max-height: 42.5rem;
		max-width: 80rem;
		height: 100%;
		position: relative;
		z-index: 2;
		-webkit-backdrop-filter: blur(3rem);

		@media only screen and (max-width: 40rem) {
			width: 100vw;
			height: 100vh;
			max-height: unset;
			border-radius: 0;
		}
	}
}

.header {
	position: absolute;
	top: 0;
	text-transform: uppercase;
	width: 100%;
	margin-top: 2rem;
	@include flex(row, center, flex-start);
	h6 {
		color: $white;
		font-weight: 200;
		&:first-of-type {
			margin-left: 2rem;
			margin-right: auto;
		}
		&.centered {
			position: absolute;
			left: 50%;
			transform: translateX(-50%);
		}
	}
	.link {
		margin-top: -0.6rem;
		margin-right: 1.2rem;
	}
	@media only screen and (max-width: 40rem) {
		flex-direction: column;
		h6 {
			&:first-of-type {
				margin-left: 2rem;
				margin-right: 0;
				margin-bottom: 0.5rem;
			}
			&.centered {
				display: none;
			}
		}
		.link {
			position: absolute;
			top: 0;
			right: 0;
		}
	}
}

.titleWrapper {
	height: 18rem;
	padding-inline: 0.5rem;
	overflow-y: hidden;
	@include flex(column, center, center);
	h1 {
		@include font(
			12rem,
			10rem,
			extra,
			$white,
			$stretch: 100%,
			$spacing: -0.0625rem
		);
		span {
			@include font(8rem, 7rem, regular, $white, $stretch: 95%);
		}
	}
	@media only screen and (max-width: 70rem) {
		height: 23.75cqw;
		h1 {
			font-size: 15cqw;
			line-height: 13cqw;
			span {
				font-size: 10cqw;
				line-height: 8cqw;
			}
		}
	}

	@media only screen and (max-width: 40rem) {
		padding-inline: 0.5rem;
		height: 32cqw;
		h1 {
			font-size: 20cqw;
			line-height: 18cqw;
			span {
				font-size: 14cqw;
				line-height: 13cqw;
			}
		}
	}
}

.footer {
	height: 6rem;
	@include flex(column, flex-start, center);
	.pills,
	.links {
		@include flex(row, center, center);
		height: fit-content;
		flex-wrap: wrap;
		gap: 0.5rem;
	}
	.pills {
		margin-top: 2rem;
	}
	.links {
		margin-top: 0.5rem;
		position: absolute;
		bottom: 2rem;
	}
}

.link {
	@extend .button-basic;
	margin-left: auto;
	text-transform: uppercase;
	border-radius: 0.25rem;
	background-color: transparent;
	backdrop-filter: none;
	border-color: transparent;
	@include font(1rem, normal, light, $white, left, 85%);
	&:hover {
		border-color: rgba($white, 0.125);
		background-color: rgba($white, 0.125);
	}
}

.bgTextContainer {
	@include flex();
	width: 100%;
	p {
		@include font(23cqw, 18.5cqw, bold, $primary, $stretch: 95%);
	}
	.left {
		width: 50%;
		height: 100vh;
		position: absolute;
		top: 0;
		left: 0;
		transition: transform 1s ease;
		white-space: nowrap;
		overflow-y: hidden;
		@include flex(column, center, center);
		p {
			margin: 0;
			transition: transform 2s ease;
		}

		> div {
			animation: scrollTextUp 20s infinite linear;
			display: flex;
			flex-direction: column;
			-webkit-animation: scrollTextUp 20s infinite linear;
		}

		@-webkit-keyframes scrollTextUp {
			from {
				transform: translateY(0%);
			}

			to {
				transform: translateY(-25%);
			}
		}

		@keyframes scrollTextUp {
			from {
				transform: translateY(0%);
			}

			to {
				transform: translateY(-25%);
			}
		}
	}
	.right {
		width: 50%;
		height: 100vh;
		position: absolute;
		top: 0;
		right: 0;
		transition: transform 1s ease;
		white-space: nowrap;
		overflow-y: hidden;
		@include flex(column, center, center);
		p {
			margin: 0;
			transition: transform 2s ease;
			text-align: right;
		}

		> div {
			animation: scrollTextDown 20s infinite linear;
			display: flex;
			flex-direction: column;
			-webkit-animation: scrollTextDown 20s infinite linear;
		}

		@-webkit-keyframes scrollTextDown {
			from {
				transform: translateY(0%);
			}

			to {
				transform: translateY(25%);
			}
		}
		@keyframes scrollTextDown {
			from {
				transform: translateY(0%);
			}

			to {
				transform: translateY(25%);
			}
		}
	}
	@media (max-width: 70rem) {
		.right {
			display: none;
		}
		.left {
			width: 100%;
			p {
				font-size: 50cqw;
				line-height: 40cqw;
			}
		}
	}
}
