.pill-basic {
	border-radius: 99rem;
	padding: 0.3rem 0.6rem;
	margin: 0;
	width: fit-content;
	border: 0.0625rem solid $primary;
	@include font(0.9rem, 0.9rem);
}

.outline {
	@extend .pill-basic;
}

.primary {
	border-color: lighten($primary, 5%);
	color: lighten($primary, 5%);
}
.secondary {
	border-color: lighten($secondary, 5%);
	color: lighten($secondary, 5%);
}
.white {
	border-color: $white;
	color: $white;
}
