.pill-basic {
  border-radius: 99rem;
  padding: .35rem .7rem;
  width: fit-content;
  border: .0625rem solid $primary;
  @include font();
}

.outline {
  @extend .pill-basic;
}

.secondary {
  border-color: lighten($primary, 5%);
  color: lighten($primary, 5%);
}

