.container {
	align-items: flex-start;
	justify-content: flex-start;
	padding-block: 6rem;
	@media (max-width: 55rem) {
		padding-block: 0;
		flex: none;
	}
	.title {
		font-size: 7rem;
		line-height: 7rem;
		max-width: 55rem;
		margin-bottom: 4rem;

		@media (max-width: 75rem) {
			font-size: 10cqw;
			line-height: normal;
			max-width: 45rem;
		}

		@media (max-width: 55rem) {
			font-size: 12cqw;
			line-height: normal;
			margin-bottom: 3rem;
		}

		@media (max-width: 30rem) {
			font-size: 14cqw;
			line-height: normal;
			padding-block: 0;
		}
	}

	hr {
		background-color: $white;
		border: 0;
		border-radius: 0.0625rem;
		height: 0.125rem;
		margin-block: 2rem;
		opacity: 0.5;
		width: 100%;
		@media (max-width: 55rem) {
			margin-block: 2rem;
		}
	}

	.contactInfoContainer {
		width: 100%;
		@include flex(row);
		@media (max-width: 55rem) {
			flex-direction: column;
		}

		.label,
		.linksContainer > a {
			@include font(3rem, normal, 600, $white, left, 90%, 0.125rem);
			@media (max-width: 75rem) {
				font-size: 3.75cqw;
			}

			@media (max-width: 55rem) {
				font-size: 5cqw;
			}

			@media (max-width: 30rem) {
				font-size: 6cqw;
				padding-block: 0;
			}
		}
		.label {
			font-weight: 600;
			width: 30%;
			@media (max-width: 45rem) {
				margin-bottom: 0.5rem;
			}
		}
		.linksContainer {
			gap: 1rem;
			width: 70%;
			@include flex(column);
			a {
				font-weight: 400;
				border-bottom: 0.125rem solid $white;
				text-decoration: none;
				width: fit-content;
			}
		}
	}
}
