.container {
	align-items: flex-start;
	justify-content: flex-start;
	padding-block: 6rem;
	@media (max-width: 55rem) {
		padding-block: 0;
		flex: none;
	}
	.title {
		margin-bottom: 4rem;
	}

	hr {
		background-color: $white;
		border: 0;
		border-radius: 0.0625rem;
		height: 0.125rem;
		margin-block: 2rem;
		opacity: 0.5;
		width: 100%;
		@media (max-width: 55rem) {
			margin-block: 2rem;
		}
	}

	.contactInfoContainer {
		width: 100%;
		@include flex(row);
		@media (max-width: 55rem) {
			flex-direction: column;
		}

		.label,
		.linksContainer > a {
			@include font(3rem, normal, regular, $white, left, 90%, 0.125rem);
			@media (max-width: 75rem) {
				font-size: 5cqw;
			}
			@media (max-width: 55rem) {
				font-size: 6cqw;
			}
			@media (max-width: 35rem) {
				font-size: 7.5cqw;

				padding-block: 0;
			}
		}
		.label {
			// font-weight: regular;
			width: 30%;
			@media (max-width: 45rem) {
				margin-bottom: 0.5rem;
			}
		}
		.linksContainer {
			gap: 1rem;
			width: 70%;
			@include flex(column);
			a {
				border-bottom: 0.125rem solid $white;
				text-decoration: none;
				width: fit-content;
			}
		}
	}
}
