@import '@/components/common/button/button.module.scss';

.link-basic {
	text-decoration: none;
	@include font($align: center);
}

.primary,
.secondary,
.tertiary {
	@extend .link-basic;
	font-size: 1rem;
	line-height: 1rem;
}

.secondary {
	color: $secondary;
}

.text {
	@extend .link-basic;
	&:hover {
		text-decoration: underline;
	}
}
