@import '@/components/common/button/button.module.scss';

.link-basic {
	text-decoration: none;
	@include font(0.85rem, 0.85rem, semi, $primary, center);
}

.primary,
.secondary,
.white {
	@extend .link-basic;
	font-size: 0.95rem;
	line-height: 0.95rem;
}

.secondary {
	color: $secondary;
}
.white {
	color: $primary;
	&:hover {
		background-color: $white;
		border-color: $white;
		color: $primary;
	}
}

.text {
	@extend .link-basic;
	&:hover {
		text-decoration: underline;
	}
}
