.container {
	width: 100vw;
	height: 100vh;
	background-color: pink;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	// transform: translate(0, 0) !important;
}
.group {
	width: 740px;
	height: auto;
	padding: 4px;
	background: #111;
	flex: none;
	overflow: hidden;
	color: black;
	&.reorder {
		width: 100vw;
		height: 100vh;
	}
}

.group2 {
	width: 740px !important;
	max-width: 740px !important;
	height: 600px !important;
	padding: 4px;
	background: #111;
	flex: none;
	overflow: hidden;
	color: black;
	transform: none !important;
}

.box {
	margin: 4px;
	padding: 8px;
	font-size: 22px;
	line-height: 28px;
	color: white;
}

.button {
	padding: 10px 20px;
	margin-bottom: 10px;
}
.logo {
	position: absolute;
	width: 60px;
	bottom: 20px;
	right: 30px;
}
