---
import { shortTitle } from '@/contents/about.json';
import me from '@/contents/me';
---

<nav id="navigation">
	<a href="#about" aria-label={`Go to About - ${shortTitle}`}>{shortTitle}</a>
	<a
		class="a-cta"
		href=`mailto:${me.contact.email}`
		aria-label="Send me an email"
		target="_blank"
		rel="noopener noreferrer">Let's talk</a
	>
</nav>

