.wrapper {
	width: 100%;
	height: fit-content;
	hr {
		border: 0;
		height: 1px;
		background: transparent;
	}
	p,
	a {
		@include font(0.8rem, normal, regular, $secondary, left, 85%);
	}
	a {
		text-decoration: underline;
		&:hover {
			color: lighten($secondary, 20%) !important;
		}
	}
}
