.heading-basic {
	color: $primary;
	margin: 0px;
	@include font(5.5rem, normal, bold, $stretch: 80%);
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
	@extend .heading-basic;
}

.h2 {
	font-size: 4.25rem;
}

.h3 {
	font-size: 3.25rem;
}

.h4 {
	font-size: 2rem;
}

.h5 {
	font-size: 1.1rem;
	font-weight: 400;
	font-stretch: 85%;
}

.h6 {
	font-size: 1rem;
	font-weight: 400;
	font-stretch: 85%;
}
