.heading-basic {
	margin: 0;
	@include font(
		7rem,
		normal,
		bold,
		$theme-text-color,
		left,
		100%,
		0,
		'Playfair'
	);
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
	@extend .heading-basic;
}

.h1 {
	line-height: normal;
	@media only screen and (max-width: $container-max-width) {
		font-size: 5rem;
	}

	@media only screen and (max-width: $half-container-max-width) {
		font-size: 4rem;
	}
}

.h2 {
	margin-bottom: 2.5rem;
	@include font(
		6rem,
		normal,
		semi,
		$theme-text-color,
		center,
		100%,
		0.0625rem,
		'Playfair'
	);

	@media only screen and (max-width: $container-max-width) {
		font-size: 4rem;
	}
	@media (max-width: 35rem) {
		padding-block: 0;
		font-size: 2rem;
	}
}

.h3 {
	margin-block: 0.5rem;
	@include font(
		2.5rem,
		normal,
		semi,
		$theme-text-color,
		left,
		100%,
		0.125rem,
		'Playfair'
	);

	@media (max-width: 75rem) {
		font-size: 5cqw;
	}
	@media (max-width: 55rem) {
		font-size: 6cqw;
	}
	@media (max-width: 35rem) {
		font-size: 2rem;
	}
}

.h4 {
	font-size: 2rem;
	font-weight: 500;
	font-stretch: 100%;
	margin-block: 0.5rem;
	letter-spacing: 0.0625rem;
}

.h5 {
	font-size: 1.25rem;
	font-weight: 400;
	letter-spacing: 0.0625rem;
}

.h6 {
	font-size: 1rem;
	font-weight: 400;
}
