.heading-basic {
	margin: 0;
	@include font(
		$h1-font-size,
		normal,
		extra,
		$theme-text-color,
		left,
		100%,
		0,
		'Playfair'
	);
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
	@extend .heading-basic;
}

.h1 {
	line-height: normal;
	@media only screen and (max-width: $container-max-width) {
		font-size: 5rem;
	}

	@media only screen and (max-width: $half-container-max-width) {
		font-size: 4rem;
	}
}

.h2 {
	margin-bottom: 2.5rem;
	text-transform: capitalize;
	@include font(
		$h2-font-size,
		normal,
		bold,
		$theme-text-color,
		center,
		100%,
		0.125rem,
		'Playfair'
	);

	@media only screen and (max-width: $container-max-width) {
		font-size: $h2-font-size * 0.75;
	}
	@media only screen and (max-width: $half-container-max-width) {
		padding-block: 0;
		font-size: $h2-font-size * 0.65;
	}
}

.h3 {
	margin-block: 0.5rem;
	@include font(
		$h3-font-size,
		normal,
		semi,
		$theme-text-color,
		left,
		100%,
		0.125rem,
		'Playfair'
	);

	@media (max-width: 75rem) {
		font-size: $h3-font-size * 0.75;
	}
	@media (max-width: 55rem) {
		font-size: $h3-font-size * 0.5;
	}
	@media (max-width: 35rem) {
		font-size: $h3-font-size * 0.25;
	}
}

.h4 {
	font-size: $h4-font-size;
	font-weight: 500;
	font-stretch: 100%;
	margin-block: 0.5rem;
	letter-spacing: 0.0625rem;
}

.h5 {
	font-size: $h5-font-size;
	font-weight: 400;
	letter-spacing: 0.0625rem;
}

.h6 {
	font-size: $h6-font-size;
	font-weight: 400;
}
