$base: #ff7f51;
$base-mix: #fd6d47;
$base-red: #fb4934;
$base-blue: #47d7fd;

// Theme
$black: #000;
$white: #fff;
$theme-base: #ffa67a;

// $theme-primary: #fffbee;
$theme-secondary: #dedfdf;
$theme-tertiary: #ece7da;
$theme-primary: #faf6ef;

// Theme text colors
$theme-text-color: #1a1a1a;
$theme-text-color-secondary: lighten($theme-text-color, 10%);
