$primary: #1a1a1a;
$secondary: #7d7d83;
$tertiary: #ececed;

$base-yellow: #fabd2f;
$base-green: #9dbb26;
$base-red: #fb4934;

// Theme
$black: #000;
$white: #fff;
$theme-primary: #fffdf9;
$theme-primary-transparent: rgba($theme-primary, 0.9);
$theme-secondary: #dedfdf;
$theme-tertiary: #ece7da;
$theme-color: #1a1a1a;
$theme-secondary-color: #595b5c;
