$base: #ff7f51;
$base-mix: #fd6d47;
$base-red: #fb4934;
$base-blue: #47d7fd;
$base-dynamite: #ff451b;

// Theme
$black: #000;
$white: #fff;
$gray: #f1ede7;

// $theme-primary: #fffbee;
$theme-secondary: #dedfdf;
$theme-tertiary: #ece7da;
$theme-primary: #faf6ef;

// Theme text colors
$theme-text-color: #1a1a1a;
$theme-text-color-secondary: lighten($theme-text-color, 10%);
