@mixin box-shadow(
	$offset-x: 0,
	$offset-y: 0.0625rem,
	$blur-radius: 0.125rem,
	$spread-radius: 0.0625rem,
	$color: $secondary
) {
	box-shadow: $offset-x $offset-y $blur-radius $spread-radius $color;
}

@mixin font(
	$size: 1rem,
	$height: 1.2rem,
	$weight: regular,
	$color: $primary,
	$align: left
) {
	font-family: 'Inter', sans-serif;

	@if ($size == '_') {
		font-size: 1rem;
	} @else {
		font-size: $size;
	}

	@if ($height == '_') {
		line-height: normal;
	} @else {
		line-height: $height;
	}

	@if ($weight == 'regular') {
		font-weight: 400;
	} @else if ($weight == 'light') {
		font-weight: 300;
	} @else if ($weight == 'semi') {
		font-weight: 500;
	} @else if ($weight == 'bold') {
		font-weight: 600;
	} @else {
		font-weight: 400;
	}

	@if ($color == '_') {
		color: $primary;
	} @else {
		color: $color;
	}

	@if ($align == '_') {
		text-align: left;
	} @else {
		text-align: $align;
	}
}

@mixin flex($direction: row, $justify: flex-start, $alignItems: stretch) {
	display: flex;
	@if ($direction == '') {
		flex-direction: row;
	} @else {
		flex-direction: $direction;
	}
	@if ($justify == '') {
		justify-content: flex-start;
	} @else {
		justify-content: $justify;
	}
	@if ($alignItems == '') {
		align-items: stretch;
	} @else {
		align-items: $alignItems;
	}
}
