// Global
$navbar-height: 3rem;
$container-max-width: 72rem;
$three-quarter-container-max-width: calc($container-max-width / 4 * 3);
$half-container-max-width: calc($container-max-width / 2);
$quarter-container-max-width: calc($container-max-width / 4);

// Animation
$animation-speed: 0.2s;

// Heading & Texts
$h1-font-size: 7rem;
$h2-font-size: 4.33rem;
$h3-font-size: 2.68rem;
$h4-font-size: 1.66rem;
$h5-font-size: 1.1rem;
$h6-font-size: 1rem;
// $h1-font-size: 8rem;
// $h2-font-size: 5rem;
// $h3-font-size: 3rem;
// $h4-font-size: 2rem;
// $h5-font-size: 1rem;
// $h6-font-size: 1rem;

// Spacing
$spacing-xxl: 8rem;
$spacing-xl: 5rem;
$spacing-lg: 3rem;
$spacing-md: 2rem;
$spacing-sm: 1rem;
$spacing-xs: 0.618rem;
$spacing-xxs: 0.382rem;
