html {
	scroll-behavior: smooth;
}
body {
	margin: 0;
	background-color: #fffbee;
	/* scrollbar-width: none;
	-ms-overflow-style: none; */
}
body::-webkit-scrollbar {
	/* display: none; */
}
* {
	box-sizing: border-box;
	/*  &::-webkit-scrollbar {
		 	display: none;
		 }
	-ms-overflow-style: none;
		 scrollbar-width: none; 
		 */
	a,
	button:focus {
		outline-color: #0078f1;
	}
}
