.primary {
	color: $primary;
}
.secondary {
	color: $secondary;
}
.red {
	color: $base-red;
}
.yellow {
	color: $base-yellow;
}
.green {
	color: $base-green;
}

.bg-secondary {
	background-color: $secondary;
}
.white {
	color: $white !important;
}
