@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,800&family=Poppins:wght@100;200;300;500&display=swap');
html,
body {
  --theme-bg: #fff;
  --theme-body-bg: #f4f4f4;
  --theme-bg-90: #ffffffe6;
  --primary: #000;
  --secondary: #262627;
  --tertiary: #313132;
  --blue: #87d7ff;
  --orange: #ff8e47;
  --red: #e13d5e;
  padding: 0;
  margin: 0;
  font-family: "Poppins";
  background-color: var(--theme-body-bg);
  transition: 0.5s ease-in-out;
  color: var(--tertiary);
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--tertiary);
  font-family: "Playfair Display";
  font-weight: 600;
  margin: 0px;
}

h1 {
  font-size: 5rem;
  line-height: 5.5rem;
}

h2 {
  font-size: 4rem;
  line-height: 4.5rem;
}

h3 {
  font-size: 3rem;
  line-height: 3.5rem;
}

h4 {
  font-size: 2.5rem;
  line-height: 3rem;
}

h5 {
  font-size: 2rem;
}

h6 {
  font-weight: 400;
  font-size: 1.5rem;
}

p {
  font-size: 1rem;
  font-weight: 400;
}

button,
.btn {
  display: block;
  cursor: pointer;
  background-color: transparent;
  border: 0.0625rem solid var(--primary);
  border-radius: 0.375rem;
  padding: .9375rem 1.4rem;
  font-family: "Poppins";
  font-weight: 300;
  font-size: 1rem;
  line-height: 1rem;
  color: var(--secondary);
  transition: 0.1s ease-in-out;
}

button.btn-sm,
.btn.btn-sm {
  padding: 0.35rem 0.7rem;
  font-weight: 200;
  border-color: transparent;
}

button:hover,
.btn:hover {
  background-color: var(--theme-bg);
  box-shadow: 0.25rem 0.25rem 0px 0px var(--primary);
  transform: translate(-0.25rem, -0.25rem);
}

button.btn-sm:hover,
.btn.btn-sm:hover {
  border-color: var(--primary);
}

button:focus-visible,
.btn:focus-visible {
  outline: 0.0625rem solid var(--primary);
}

a {
  text-decoration: none;
  color: var(--tertiary);
}

a:hover {
  text-decoration: none;
}

/* General Classes */

.playfair {
  font-family: "Playfair Display";
  /*  
    Regular 400
    Regular 400 Italic
    SemiBold 600
  */
}
.poppins {
  font-family: "Poppins";
  /* 
    Thin 100
    ExtraLight 200
    Light 300
    Medium 500
  */
}

.txt-sm {
  font-size: 0.8rem;
}

.txt-md {
  font-size: 1.25rem;
}

.txt-bg {
  font-size: 1.5rem;
}
.txt-center {
  text-align: center;
}

.txt-100 {
  font-weight: 100;
}

.txt-200 {
  font-weight: 200;
}

.txt-300 {
  font-weight: 300;
}

.txt-400 {
  font-weight: 400;
}

.txt-500 {
  font-weight: 500;
}

.txt-600 {
  font-weight: 600;
}

.op-2 {
  opacity: 0.2;
}
.op-3 {
  opacity: 0.3;
}
.op-5 {
  opacity: 0.5;
}
.op-8 {
  opacity: 0.8;
}
.m-0 {
  margin: 0;
}
.m-1 {
  margin: 0.5rem;
}
.m-2 {
  margin: 1rem;
}
.mt-1 {
  margin-top: 0.5rem;
}
.mt-2 {
  margin-top: 1rem;
}
.mt-3 {
  margin-top: 2rem;
}
.mt-4 {
  margin-top: 3rem;
}
.mt-5 {
  margin-top: 5rem;
}
.mb-1 {
  margin-bottom: 0.5rem;
}
.mb-2 {
  margin-bottom: 1rem;
}
.mb-3 {
  margin-bottom: 2rem;
}
.mb-4 {
  margin-bottom: 3rem;
}
.mb-5 {
  margin-bottom: 5rem;
}
.red {
  color: var(--red);
}
.page-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex: 1;
  border-radius: 1rem;
  max-width: 80rem;
}

hr,
.divider {
  border: 0 solid transparent;
  border-top: 1px solid var(--primary) !important;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  html, body {
    --theme-bg: #262627;
    --theme-bg-90: #262627e6;
    --primary: #fff;
    --secondary: #fff;
    --tertiary: #fff;
  }
} */

@media only screen and (max-width: 80rem) {
  body {
    /* background-color: var(--theme-bg); */
  }
  .page-container {
    width: 90vw;
  }
}
