html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #ffffff;
  transition: 1s;
}

h1, h2, h3, h4 ,h5 , h6 {
  color: #313132;
}

h1 {
  font-size: 5rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 3rem;
}

h4 {
  font-size: 2.5rem;
}

h5 {
  font-size: 2rem;
}

h5 {
  font-size: 1.5rem;
}
.op-2 {
  opacity: .2;
}
.op-4 {
  opacity: .4;
}
.op-6 {
  opacity: .6;
}
.op-8 {
  opacity: .8;
}

.m-0 {
  margin: 0;
}

.m-1 {
  margin: .25rem;
}

.m-2 {
  margin: .5rem;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.red {
  color: #FF5955;
}

.container {
  width: 100%;
  max-width: 64rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
    background-color: #262627;
  }
  body {
    background-color: #262627;
  }
  h1, h2, h3, h4 ,h5 , h6 {
    color: #ffffff;
  }
}
