@import url("https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400;0,6..96,600;1,6..96,400&family=Lato&family=Poppins:wght@100;200;300;500&display=swap");
html,
body {
  padding: 0;
  margin: 0;
  font-family: "Bodoni Moda";
  background-color: #ffffff;
  transition: 1s;
}
.moda {
  font-family: "Bodoni Moda";
}
.poppins {
  font-family: "Poppins";
}
.lato {
  font-family: "Lato";
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #313132;
}
h1 {
  font-weight: 600;
  font-size: 5rem;
  line-height: 5.5rem;
}
h2 {
  font-weight: 100;
  font-family: "Poppins";
  font-size: 4rem;
  line-height: 4.5rem;
}
h3 {
  font-size: 3rem;
  font-weight: 400;
  line-height: 3.5rem;
}
h4 {
  font-size: 2.5rem;
}
h5 {
  font-size: 2rem;
}
h6 {
  font-size: 1.5rem;
}
.op-2 {
  opacity: 0.2;
}
.op-3 {
  opacity: 0.3;
}
.op-5 {
  opacity: 0.5;
}
.op-8 {
  opacity: 0.8;
}
.m-0 {
  margin: 0;
}
.m-1 {
  margin: 0.5rem;
}
.m-2 {
  margin: 1rem;
}
.mt-1 {
  margin-top: 0.5rem;
}
.mt-2 {
  margin-top: 1rem;
}
.mt-3 {
  margin-top: 2rem;
}
.mt-4 {
  margin-top: 3rem;
}
a {
  color: inherit;
  text-decoration: none;
}
* {
  box-sizing: border-box;
}
.red {
  color: #ff5955;
}
.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex: 1;
  border: solid 0.0625rem #000;
  border-radius: 0.25rem;
  max-width: 68rem;
}
.divider {
  border-top: 1px solid #313132;
}
button {
  cursor: pointer;
  background-color: transparent;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  border: solid 0.0625rem #000;
  border-radius: 0.25rem;
  padding: 0.8rem 1.4rem;
  font-family: "Poppins";
  font-weight: 300;
  font-size: 1rem;
  transition: 0.1s ease-in-out;
}
button:hover {
  box-shadow: 0.25rem 0.25rem 0px 0px black;
  transform: translate(-0.25rem, -0.25rem);
}
button:focus-visible {
  outline: 0.0625rem solid black;
}
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
    background-color: #262627;
  }
  body {
    background-color: #262627;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: #ffffff;
  }
  .container {
    border-color: white;
  }
  .divider {
    border-top-color: white;
  }
  button{
    border-color: white;
  }
  button:hover {
    box-shadow: 0.25rem 0.25rem 0px 0px white;
  }
  button:focus-visible {
    outline-color: white;
  }
}
@media only screen and (max-device-width: 64rem) {
  .container {
    border-color: transparent;
  }
}
