.header {
  height: 48rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  padding-inline: 3rem;
  border-width: 0.0625rem 0.0625rem 0 0.0625rem;
  border-style: solid;
  border-color: var(--primary);
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}
.profile-img picture img {
  position: absolute;
  bottom: 0;
  right: 3rem;
  width: 34rem;
  height: auto;
}
@media only screen and (max-width: 72rem) {
  .profile-img picture img {
    right: 0rem;
  }
  .header {
    border-color: transparent;
  }
}
@media only screen and (max-width: 40rem) {
  .header {
    justify-content: flex-start;
  }
  .header h2 {
    font-size: 2.5rem;
    line-height: 3rem;
  }
  .header h1 {
    font-size: 3.5rem;
    line-height: 4rem;
  }
  .header h3 {
    font-size: 2rem;
    line-height: 2.5rem;
  }
}
@media only screen and (max-width: 34rem) {
  .profile-img picture img {
    width: 100%;
  }
}
