.header {
  height: calc(100vh - 7.5rem);
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  padding-inline: 3rem;
  border-width: .0625rem .0625rem 0 .0625rem;
  border-style: solid;
  border-color: var(--primary);
  border-top-left-radius: .25rem;
  border-top-right-radius: .25rem;
}
.profile-img picture img {
  position: absolute;
  bottom: 0;
  right: 3rem;
  width: 34rem;
  height: auto;
}
@media only screen and (max-device-width: 64rem) {
  .profile-img picture img {
    right: 0rem;
  }
}
@media only screen and (max-device-width: 40rem) {
  .header {
    justify-content: flex-start;
  }
  .header h2 {
    font-size: 2.5rem;
    line-height: 3rem;
  }
  .header h1 {
    font-size: 3.5rem;
    line-height: 4rem;
  }
  .header h3 {
    font-size: 2rem;
    line-height: 2.5rem;
  }
  }
@media only screen and (max-device-width: 34rem) {
  .profile-img picture img {
    width: 100%;
  }
}
