.header {
  position: relative;
  height: calc(100vh - var(--navbar-height));
  max-width: 80rem;
  width: 100%;
  padding-inline: 3rem;
  margin-top: var(--navbar-height);
  margin-bottom: 6rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-self: center;
  div h2 {
    line-height: 3.5rem;
  }
  img {
    display: flex;
    position: relative;
    padding: 1rem 1rem 0 1rem;
    border: 0.1875rem solid var(--primary);
    max-width: 34rem;
    height: auto;
    box-shadow: 0.5rem 0.5rem 0px 0px var(--secondary);
    background-color: var(--theme-bg);

    // @media (prefers-color-scheme: dark) {
    //   background-color: var(--primary);
    //   border-color: var(--theme-bg)
    // }
  }
}

@media only screen and (max-width: 90rem) {
  .header {
    border-color: transparent;
    img {
      max-width: 26rem;
    }
  }
}
@media only screen and (max-width: 70rem) {
  .header {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    h1 {
      font-size: 3.5rem;
      line-height: 4rem;
    }
    h2 {
      font-size: 2.5rem;
      line-height: 2.5rem;
    }

    h3 {
      font-size: 2rem;
      line-height: 2.5rem;
    }
    img {
      right: 0rem;
      margin-top: 2rem;
      width: 80%;
    }
  }
}
