.navbar {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  width: 100%;
  height: var(--navbar-height);
  border-bottom: 0.125rem solid var(--primary);
  background-color: var(--theme-bg);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  z-index: 99;
}
.navbar-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  width: 100%;
  padding-inline: 7rem;
  max-width: 80rem;
}
.navbar-options {
  justify-self: end;
}
@media only screen and (max-width: 70rem) {
  .navbar-content {
    padding-inline: 2rem;
  }
}