.stack {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin-block: 6rem;
}
.stack h6 {
  font-size: 1.75rem;
  align-self: flex-start;
}

.stack-content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5rem;
  width: 100%;
  padding-block: 1rem;
}
.stack-content .stack-item {
  flex: 1 1 0px;
  height: fit-content;
  height: 22rem;
  width: 100%;
  padding: 2rem;
}
.stack-content h4 {
  z-index: 99;
}

.stack-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.stack-list li {
  font-size: 2rem;
  font-weight: 300;
  line-height: 2.5rem;
  margin-bottom: .25rem;
}

@media only screen and (max-width: 60rem) {
  .stack-content {
    grid-template-columns: 1fr;
  }
}