.stack {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 70px);
  gap: 1rem;
  padding-inline: 3rem;
  border-width: 0 .0625rem;
  border-style: solid;
  border-color: var(--primary);
}

.stack-content {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  padding-inline: 1.5rem;
}
.stack-content .fe {
  height: fit-content;
}
.stack-content .be {
  height: fit-content;
}
.stack-full {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-content: flex-start;
  width: 100%;
  gap: 0 4rem;
}
.stack-full h6 {
  font-family: "Poppins";
  font-weight: 200;
}
