.stack {
  display: flex;
  position: relative;
  align-items: flex-start;
  gap: 1.5rem;
  width: 100%;
  justify-content: space-between;
  height: 100%;
  margin-block: 7rem 6rem;

  .stack-title {
    width: 50%;
    top: 7rem;
    margin-block: 9rem;
    display: flex;
    position: sticky;
    flex-direction: column;
  }

  .stack-content {
    display: flex;
    flex-direction: column;
    gap: 0.1875rem;
    width: 50%;
    padding-block: 1rem;
    @media only screen and (max-width: 60rem) {
      grid-template-columns: 1fr;
    }
    h4 {
      z-index: 99;
    }
    .stack-item {
      flex: 1 1 0px;
      width: 100%;
      min-height: 20rem;
      padding: 2rem;
      transition: 0.1s ease-in-out;
      &:nth-child(1) {
        transform: translate(-4rem, -1rem);
      }
      &:nth-child(3) {
        transform: translate(-2rem, 1rem);
      }
    }
  }
}

.stack-list {
  list-style-type: none;
  margin: 0;
  padding: 0;

  li {
    font-size: 3rem;
    font-weight: 700;
    line-height: 3rem;
    margin-bottom: 0.5rem;
  }
}
