.underline {
	position: relative;
	&::before {
		content: '';
		position: absolute;
		bottom: -0.25rem;
		left: 0rem;
		height: 0.5rem;
		width: 100%;
		z-index: -1;
		background-image: url('/images/line.svg');
		background-repeat: repeat-x;
		background-size: 100px 8px;
	}
}
.underlineWhite {
	&::before {
		background-image: url('/images/line-white.svg');
	}
}
