@import '@/components/common/layout/heading/heading.module.scss';

.footer {
	width: 100%;
	padding-bottom: 7rem;
	background-color: $base;
	@include flex(column, center, center);
	z-index: 1;
	background-image: url('/images/backgrounds/light-noise.png');
}
.container {
	padding: 0;
}
.content {
	width: 100%;
	border-bottom: 0.0625rem solid rgba($theme-text-color-secondary, 0.5);
	position: relative;
	padding-block: 10rem;
	margin-bottom: 3rem;
	@include flex(column, flex-start, center);
	@media only screen and (min-height: 91rem) {
		min-height: auto;
		padding-block: 8rem 12rem;
	}

	h2 {
		margin-top: 2rem;
		text-transform: uppercase;
		font-size: $h5-font-size;
		letter-spacing: 0.375rem;
		line-height: 2.5rem;
		font-family: 'Mona Sans', sans-serif;
		span {
			font-family: 'Playfair Display', serif;
			margin-top: 1rem;
			text-transform: capitalize;
			font-size: $h1-font-size;
			line-height: $h1-font-size;
			font-weight: 800;
		}
		@media (max-width: 35rem) {
			span {
				font-size: 5rem;
				line-height: 5rem;
			}
		}
	}
	h3 {
		@extend .h5;

		font-weight: 400;
		letter-spacing: 0.125rem;
		margin-bottom: 0.25rem;
	}
	.dependencies {
		@extend .h3;
		font-family: 'Mona Sans', sans-serif;
		font-size: $h5-font-size;
		font-weight: 500;
		letter-spacing: 0.125rem;
		margin-bottom: 1.5rem;
		text-align: center;
	}

	.copyright {
		@include font(
			0.8rem,
			normal,
			regular,
			$theme-text-color-secondary,
			center,
			85%
		);
		position: absolute;
		bottom: 3rem;
	}
}
