.footer {
	width: 100%;
	background-color: $tertiary;
	padding-block: 3rem;
	@include flex(column, center, center);
}
.content {
	padding-top: 2rem;
	width: 100%;
	@include flex(column, center, center);
	p {
		@include font(0.8rem, normal, regular, $secondary, left, 85%);
	}
}
