@import 'mixin';

.introduction {
	height: 90cqh;
	margin: 0;
	width: 100%;
	position: relative;
	p {
		@include font(25cqh, normal, semi, $secondary, left, 85%, -0.0625rem);
		&:nth-child(2) {
			color: $base-color;
		}
	}
	.committed {
		left: 0;
		position: absolute;
		gap: 6rem;
		@include flex();
		&.afterAnimation {
			left: unset;
			right: 0;
		}
		p {
			width: 100%;
			text-align: right;
		}
	}
	.innovative {
		right: 0;
		margin-top: 30cqh;
		position: absolute;
		gap: 6rem;
		@include flex();
		&.afterAnimation {
			right: unset;
			left: 0;
		}
		p {
			width: 100%;
			text-align: left;
			margin-right: auto;
		}
	}
	.resultsDriven {
		left: 0;
		position: absolute;
		margin-top: 60cqh;
		gap: 6rem;
		@include flex();
		&.afterAnimation {
			left: unset;
			right: 0;
		}
		p {
			width: 100%;
			text-wrap: nowrap;

			text-align: right;
		}
	}
}

.background {
	margin: 0;
	width: 100vw;
	height: 100vh;
	background-color: $tertiary;
	@include flex(column, center, center);
	.centeredWrapper {
		height: 100%;
		min-height: auto;
	}
}
