@import 'mixin';

.introductionSection {
	justify-content: flex-start;
}

.heading {
	margin: 7rem 0 0 0;
	max-width: 70rem;
	position: absolute;
	width: 100%;
	z-index: 1;
	h1 {
		color: $white;
	}
}

.background {
	background-color: $base-color;
	border-radius: 2rem;
	height: 42.5rem;
	padding: 0 5rem;
	width: 100%;
	&.afterAnimation {
		height: 100dvh;
		width: 100dvw;
	}
	&.removeBottomBorderRadius {
		border-bottom-left-radius: 0;
		border-bottom-right-radius: 0;
	}
}

.aboutMe {
	background-color: $base-color;
	margin: 0rem;
	padding-top: 4rem;
	width: 100%;
	@include flex($justify: center);
	section {
		align-items: flex-start;
		color: $white;
		flex-direction: column;
		gap: 0.5rem;
		height: auto;
		margin-block: 0 6rem;
		min-height: auto;
		z-index: 1;
		h2 {
			border-bottom: 0.0625rem solid $white;
			font-size: 6.5rem;
			line-height: 6.5rem;
			width: 100%;
		}
		p {
			color: $white;
			margin: 0.5rem 4rem 0.5rem 0;
			&:first-of-type {
				margin-top: 1.5rem;
			}
		}
	}
}
