.height {
	background-color: $tertiary;
	height: 100%;
	min-height: 100vh;
	width: 100vw;
	@include flex(column, center, center);
}

.centeredWrapper {
	border-radius: 0.5rem;
	flex: none;
	height: fit-content;
	justify-content: flex-start;
	z-index: 1;
	.title {
		span {
			color: $base-color;
		}
		@include font(4.5cqw, normal, medium, $primary, center, 95%, 0.1rem);
		@media (max-width: 75rem) {
			@include font(6cqw, normal, medium, $primary, center, 95%, 0.1rem);
		}
		@media (max-width: 45rem) {
			@include font(8cqw, normal, medium, $primary, center, 95%, 0.1rem);
		}
		@media (max-width: 30rem) {
			@include font(10cqw, normal, medium, $primary, center, 95%, 0.1rem);
			padding-block: 0;
		}
	}
}
