.customHeightWrapper {
	background-color: darken($tertiary, 15%);
	padding-block: 7rem 10rem;
	.container {
		align-items: flex-start;
	}
	h2 {
		color: $black !important;
		align-self: flex-start;
	}
	.card {
		border-radius: 1.25rem;
		// padding: 2.5rem;

		* {
			color: $black;
		}
		p {
			margin-block: 0.5rem;
		}
	}
}
