.customHeightWrapper {
	background-color: $dark;
	padding-block: 7rem 10rem;
	.container {
		align-items: flex-start;
	}
	h2 {
		// color: $dark !important;
		align-self: flex-start;
	}
	.cardsContainer {
		display: grid;
	}
	.card {
		background-color: $secondary;
		padding: 2.5rem;

		* {
			color: $dark;
		}
		p {
			margin-block: 0.5rem;
		}
	}
}
