.header {
  display: grid;
  grid-auto-columns: minmax(0, 1fr);
  grid-auto-flow: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  padding: 2rem;
  border-radius: 2rem;
  margin-block: 6rem;
  background: #f3f3f3;

  .name {
    h2 {
      line-height: 3.5rem;
    }
  }
  .profile-image {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $primary;
    width: 100%;
    border-radius: 1rem;
    img {
      padding: 1rem 1rem 0;
      position: relative;
      max-width: 25rem;
      height: auto;
    }
  }
}

@media only screen and (max-width: 90rem) {
  .header {
    border-color: transparent;
    img {
      max-width: 26rem;
    }
  }
}
@media only screen and (max-width: 70rem) {
  .header {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    h1 {
      font-size: 3.5rem;
      line-height: 4rem;
    }
    h2 {
      font-size: 2.5rem;
      line-height: 2.5rem;
    }

    h3 {
      font-size: 2rem;
      line-height: 2.5rem;
    }
    img {
      right: 0rem;
      margin-top: 2rem;
      width: 80%;
    }
  }
}
